.footer {
  background: var(--bar);
  margin-top: 1.45rem;
  flex-shrink: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
  padding: 0.45rem 1.0875rem;
  color: var(--textLink);
  transition: background 2s ease-out, color 1s ease-out;
}

.container a {
  color: var(--textLink);
}
.container a:hover {
  color: var(--linkhover);
}
