.header {
  background: var(--bar);
  margin-bottom: 1.45rem;
  flex-shrink: 0;
  transition: background 2s ease-out, color 1s ease-out;
}

.container {
  display: flex;
  margin: 0 2vw 0 8vw;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.titleH1 {
  margin: 0;
  padding: 10px;
}

.link {
  color: var(--textLink);
  text-decoration: none;
}

.link:hover {
  color: var(--linkhover);
}

.linklist {
  color: var(--textLink);
  text-align: center;
  display: flex;
  padding: 10px;
  margin: 0;
}

.linklist:hover {
  color: var(--linkhover);
}

.nav {
  list-style: none;
  overflow: hidden;
  display: flex;
  margin: 0;
}

.navItem {
  float: left;
  margin: 0;
}

.menu {
  display: flex;
  min-width: 25vw;
  justify-content: space-between;
  align-items: center;
}
